[2013-07-24 22:14] mnapoli opened #1 "Implement Iterator, Countable and ArrayAccess"
Implement Iterator, Countable and ArrayAccess to be able to use `count()`, `foreach`, …

See [this comment](http://fr.reddit.com/r/PHP/comments/1iy1dp/php_enum_implementation_inspired_from_splenum/cb9cron) on Reddit for the original idea.

[2013-08-06 21:06] #1 closed, assigned to nobody

[2014-03-01 00:22] DmitryVarennikov opened #3 "Validity"
There are 2 different enum libraries co-exist alone with the current one.

The closest one to **PHP** `SplEnum` is https://github.com/garoevans/php-enum and the closest one to **JAVA** implementation is https://github.com/marc-mabe/php-enum

Both are elder than yours.
Don't get me wrong but this library looks just confusing to me.

[2014-03-01 00:32] #3 closed, assigned to nobody

[2014-08-22 12:13] beberlei opened #4 "Missing equalTo() method"
Sometimes i want to compare enums for equaility, currnetly i have to cast to `(string)` to make it work. This could be something to add as a default method.

[2015-01-22 11:00] TazeTSchnitzel opened #6 "getName()?"
Hey there,

I love this class, it's a very nice implementation of enums. However, I don't like that there's no way to get the name of an enum member. You can get its "value", but this might be a semantically meaningless value like `1` or `2`. Being able to get the constant name would be great.

If you're to allow this, you might consider (optionally?) making `__toString` show the name, perhaps `My

[2015-01-22 11:12] TazeTSchnitzel opened #7 "Value-less enum"
Here's another idea:

Perhaps a variant of this class which doesn't have a value for each enum member, so `SomeEnum::FOO` doesn't work but `SomeEnum::FOO()` does? Could be used like so in PHP 5.6:

[code]

Or something like that. Maybe not a good idea. What do you think?

[2015-01-22 12:20] TazeTSchnitzel opened #8 "Enum instances aren't singletons"
Ideally, `SomeEnum::Foo()` should always return the same instance of `SomeEnum`, so you can do `$someEnumValue1 === SomeEnum::Foo()` and not `$someEnumValue1->getValue() !== SomeEnum::Foo`

[2015-01-30 22:09] mnapoli commented on #6
Hey @TazeTSchnitzel, really happy to see your interest in this lib.

There is now [a new `getKey()` method](https://github.com/myclabs/php-enum/releases/tag/1.3.0) on enum values:

[code]

[2015-01-30 22:09] #6 closed

[2015-01-30 22:14] mnapoli commented on #7
I like the feature idea. I'm not so sure about the suggested implementation though, it's really not consistent with the current "syntax".

IMO it's not a big deal to give values 1, 2, 3, … Especially since I often find that the `0` case needs to be handled with care (because it can be confused with `null`): sometimes it needs to start with 1, sometimes 0 is fine…

[2015-01-30 22:20] mnapoli commented on #8
Yes that's really something I'd like to have!

Maybe a 2.0 version could make the constructor private? Currently there is a "cache" so that `MyEnum::FOO()` always returns the same object, the only problem is that users can still do `new MyEnum(MyEnum::FOO)`…

But then what about deserialized enums…

[2015-01-30 22:35] TazeTSchnitzel commented on #6
Awesome, thanks!

[2015-01-30 22:36] TazeTSchnitzel commented on #8
Oh, deserialisation would be an issue :/

Also, I discovered that I may just be able to use `==` as it does structural comparison.

[2015-01-30 22:37] TazeTSchnitzel commented on #7
Yeah, the syntax is a bit iffy...

[2015-01-30 22:45] mnapoli commented on #8
yep forgot to mention that, I use `==` too.

[2015-01-30 23:22] mirfilip commented on #7
The idea is very valid. @mnapoli the argument that you have to handle your values with care kinda proves the point.

The implementation as I'd see it:
* Values are stored under private member instead of consts. If you want to get list of all options, use toArray()
* There is a private member _value (or sth like that) which holds the chosen value. If you want to create the instance of enum with cho

[2015-01-30 23:40] mirfilip commented on #4
Thanks to __toString() being implemented, it already works well https://ideone.com/FvouJm

[2015-01-31 00:00] mirfilip opened #9 "Ability to create invalid enum"
Depending on how you choose consts values in your Enum class, it can have very undesirable effects. This is because the library uses `in_array` (constructor) and `array_search` (new search method) **without** strict checking. To get the notion of what I mean, please look at: https://ideone.com/FvouJm

The same can happen if you use many other problematic values like null, booleans, empty string et

[2015-01-31 00:13] mnapoli commented on #4
See also #8 you can use `==`:

[code]

So in the end I'm not sure a `equalTo()` method is necessary?

[2015-01-31 00:15] mnapoli commented on #9
This looks like a buggy behavior to me :/

If you have a PR feel free to submit it (especially if it can cover that with tests to avoid any future regression).

[2015-01-31 00:57] mnapoli commented on #7
Very true, my argument was more of "the gain/cost ratio is not really high, so I'd rather favor consistency". In a "true" enum implementation you are right values are optional.

The `private $FOO` solution is an alternative indeed, but:

- it breaks BC: we could consider a new major version but is that really worth it? it works pretty well today, the library is being used a lot… All that to avoid

[2015-01-31 13:25] mirfilip commented on #4
@mnapoli I was about to write the same yesterday.

[2015-01-31 13:33] mirfilip commented on #7
Surely, `ValuelessEnums` would break BC. If anything, it'd be a same level class but completely separate from `Enum`. IMO, not worth it as well. The idea with singletons is way more attractive.

[2015-01-31 21:22] mnapoli commented on #4
OK closing for now.

[2015-02-03 10:05] carbontwelve opened #10 "Default enum value"
It would be nice to be able to set a default enum value such as:

[code]

If I get time I may implement this and provide a PR.

[2015-02-03 20:39] mnapoli commented on #10
It wouldn't be usable with static methods right?

Also I can't find examples of enums with default values in other languages (I looked for C# and Java), is that something pretty common? I've never seen the use case, since an enum is a list.

When I need a default value, it's usually in method parameters when I'm passing an enum (i.e. in a context, not an absolute default for the enum). For example

[2015-02-05 15:17] carbontwelve commented on #10
I don't think having a default enum is common in programming languages, the only case I know of when a default is available is within a database.

I have found that adding a default to the Enum base class is not actually required, as I am able to do so within a models accessor (using laravel) like so:

[code]

[2015-02-05 20:53] mnapoli commented on #10
:+1: good to know

[2015-02-05 20:53] #10 closed

[2015-02-09 08:54] mirfilip opened #13 "search() is not type safe"
New `search()` method has a contract to find enum by value and return corresponding key. Logically, this method should return boolean false when nothing found or a key, which is always a string (not integer), as internally `key => value` pairs are kept as associative array with string keys. Because `search()` uses `array_search` without strict param, it can find a wrong key:
[code]

This is the sa

[2015-02-09 09:09] mirfilip commented on #13
Above there is a commit on my fork. It's based on changes from #9 which are not merged yet, so I will wait with this pull request until #9 is merged.

[2015-02-10 03:38] #9 closed

[2015-02-10 03:39] mnapoli commented on #13
I've merged #12, feel free to create the other pull request.

[2015-02-15 21:39] #13 closed

[2015-02-15 21:41] mnapoli commented on #9
Released [1.3.2](https://github.com/myclabs/php-enum/releases/tag/1.3.2)

[2015-04-17 12:49] mirfilip opened #15 "Idea: Simplification of internal construction of enums"
Hi @mnapoli,
Recently, I happened to get lost in php documentation of `define` and came across some interesting [comment](http://php.net/manual/en/function.defined.php#82148). As `define` is [namespace sensitive](http://php.net/manual/en/function.defined.php#110530), I think this could be a base idea of enums.

The main advantage over current approach is that you don't need to assign values to enu

[2015-04-17 23:01] mnapoli commented on #15
Hi, this is indeed interesting but I see a few issues:

- defining an enum would be done by executing code (`enum('ONE', 'TWO')`) instead of defining a class, which means you have to put that code in your application at the initialization, which is much more invasive (i.e. no autoloading)
- enums wouldn't be grouped under an object/class or name, there would just be a list of constants
- there wou

[2015-05-15 22:36] chippyash opened #17 "Use magic invoke to allow values to be used."
[code]
use case:

[code]

Implement using magic __invoke() method

Complements the magic __toString()

Preparation for upcoming changes, e.g. MyEnum::VALUE()() maybe. (bizarre but workeable.)

It is a strategy I use in in the [StrongType](https://github.com/chippyash/Strong-Type) library to good effect.

[2015-05-18 12:39] mnapoli commented on #17
Hi, I understand it's a pattern used in your library but `__toString()` is already implemented and is the natural and popular way to do it, so I don't see the point of adding what you suggest?

[2015-05-18 12:39] #17 closed

[2015-05-18 16:28] chriseskow opened #18 "Static method to get array of all enum instances"
When using this library, I was slightly surprised to find that the toArray() method returns an associative array mapping the enum constant names to their underlying values, rather than to instances of the enum object wrapping the value. When adding additional behavior to the enum via instance methods, having the enum objects is often more useful than only the underlying constant values.

What do y

[2015-05-18 17:01] mnapoli commented on #18
Hi, this is indeed something I've never thought of, and never needed. But it makes sense, I can imagine plenty of scenarios where you would want to get the list of the actual enum instances…

I think if you make a PR I'd be +1 to merge it, if anybody else has a preference please voice it.

And yes, now I wish `toArray()` would return the instance list ;) But we have to keep BC. However we have `ke

[2015-05-18 17:19] chriseskow commented on #18
We could break BC and release it as 2.0... ;-)

[2015-05-18 20:52] mnapoli commented on #18
No that's not the goal. As I said if the new method name is `values()` then there is no BC break.

[2015-05-19 05:28] #18 closed

[2015-05-19 05:29] mnapoli commented on #18
I have tagged [v 1.4.0](https://github.com/myclabs/php-enum/releases/tag/1.4.0)

[2015-05-19 05:34] chriseskow commented on #18
Thanks!

[2015-07-21 12:40] lorenzomar opened #20 "Use Late State Binding to call toArray() method"
What about to call static toArray method using `static::toArray()` instead of `self::toArray()`?
In this way it is possible to extend the base class and use a data source different from class' constants list. I know it is a corner scenario, but doing so you are able to use DB as a dynamic data source.

[2015-08-29 05:44] jhuliano opened #23 "Descriptive Enum"
Hi there,
I think it would be awesome if we could add a new Enum that supports descriptions. Sometimes this can be really helpful if you want to use the enum to give a description to the user.
Something like this:
[code]
I know it doesn't look pretty, so, we could use arrays instead (PHP 5.6+ only :cry:):
[code]
The cool thing about this is that later people could extend this new class and make im

[2015-08-30 07:17] mnapoli commented on #23
Hi, thanks for the idea. This enum library wants to cover one goal: enums in PHP. Enums (at their core) don't have descriptions. If you need descriptions in your enum (which is a valid requirement), you can simply add that behavior:

[code]

(not tested)

As you can see it's very trivial to add such a behavior. And since the behavior is specific to your needs, it doesn't need to go into the librar

[2015-08-30 07:17] #23 closed

[2015-08-30 12:53] jhuliano commented on #23
@mnapoli this is actually even a better implementation than what I had in mind :) Thank for the idea! Actually what I had in mind was using this lib to create Laravel package for enums with locales and though that maybe adding some support to "descriptions" in this lib would be helpfull for other people, but, I understand your argument.

[2015-08-30 17:20] mnapoli commented on #23
@jhuliano in this case that might be useful to create a subclass that adds description+translation feature and make it a reusable package? That way this package stays generic, and your package solves a more specific issue in a nice and reusable way :)

[2015-09-02 12:55] jhuliano commented on #23
@mnapoli sure, that is exactly what I had in mind! Thanks for the help, yet gain :+1: :)

[2015-10-08 12:38] #15 closed

[2015-10-08 12:39] mnapoli commented on #20
Was implemented in #21

[2015-10-08 12:39] #20 closed

[2015-10-13 23:02] BernardoSilva opened #26 "Add project to scrutinizer-ci to allow code coverage."
- [ ] Add the project to [scrutinizer](https://scrutinizer-ci.com/)

This needs to be done by a collaborator. @mnapoli maybe?

[2015-10-13 23:03] BernardoSilva opened #27 "Send code coverage to scrutinizer-ci and show it."
- [x] send code coverage to scrutinizer-ci.
- [x] Add badge.

[2015-10-14 20:12] #27 closed

[2015-10-14 20:12] mnapoli commented on #26
Just realized I don't have the permissions to do so I'll try to work it out soon ;)

[2015-10-15 19:41] artisaninweb opened #29 "Missing a 'byValue' method"
I'm missing a 'byValue' method.
I want to get an EnumObject by it's value.
The code i've added is:

[code]

[2015-10-15 19:50] artisaninweb commented on #4
+1 for a 'equalsTo' method.
It's much easier to use.

[code]

[code]

[2015-10-16 11:18] mnapoli commented on #29
Hi. You can do `new MyEnum($value)`.

[2015-10-20 08:49] artisaninweb commented on #29
Yeah i know, but i think it's easy to read and to use.

[2015-10-20 10:09] mnapoli commented on #29
I'm sorry but there is no added value, I don't see how `new Foo()` isn't easy to read and use.

[2015-10-20 10:09] #29 closed

[2015-11-01 03:27] BernardoSilva commented on #26
Any progress on this @mnapoli ? :)

[2015-11-01 09:28] mnapoli commented on #26
No :)

[2015-11-14 21:07] holtkamp opened #31 "$arguments in __callStatic not respected"
It seems the [second $arguments parameter in __callStatic](https://github.com/myclabs/php-enum/blob/5b66b22209ffbb547958aeacf9ad4a0e9a453da1/src/Enum.php#L165) is not used, making it impossible to hand over additional information:

[code]

I would like to use that approach to easily instantiate Events to dispatch on an [EventBus](http://simplebus.github.io/MessageBus/doc/event_bus.html).

Not sure

[2015-11-16 19:14] mnapoli commented on #31
It would be possible I guess, but I'm not sure I see the point. What you describe doesn't sound like an enum to me. An enum is a very simple list of static values.

[2015-11-16 21:29] holtkamp commented on #31
Ok, maybe some context would clarify the use case.

We use events to manipulate the internal state of an Entity using a Finite State Machine (FSM). Instead of firing the Event at the FSM directly, we are now looking at posting the Event to an EventBus which would make it possible to:
 - process the event asynchronously by storing it in an EventStore for a while
 - have multiple EventHandlers proce

[2015-11-16 21:42] mnapoli commented on #31
I understand you have a valid use case, but not for enums. If enums [were implemented natively in PHP](https://wiki.php.net/rfc/enum), they wouldn't be meant for this and wouldn't support this feature.

This class contains roughly 10-15 actual lines of code, I would suggest you implement it in your classes for your use case.

[2015-11-16 21:42] #31 closed

[2015-11-16 21:58] holtkamp commented on #31
Ok, thanks for having me think about this and agreeing with you :+1:

[2016-01-26 07:48] uyab opened #32 "Enum creation by key"
Let's say I have following role enum:

[code]

And than I use `Role::toArray()` to populate select box, which will generate something like this:

[code]

At this point, my application will receive ADMIN or USER as a value to be inserted to database. The problem is, I cannot use key to create new enum instance.

What do you think about create new API to allow enum creation using key?

[2016-01-26 08:14] mnapoli commented on #32
How about `$values = Role::$key()`?

[2016-01-26 08:28] uyab commented on #32
Ahaha, it was embarrasing for me. Previously I just call the constant `Role::$key`, which is incorrect, and start thinking about `call_user_func`.

Thank you, for your answer, and for this useful library.

[2016-01-26 08:28] #32 closed

[2016-01-26 08:32] mnapoli commented on #32
;) no worries

[2016-04-18 14:23] sagikazarmark opened #35 "IDE completions"
An idea to add to the IDE completion section:

[code]

IMO it is a little bit shorter and does not require coding to use it in the IDE.

[2016-04-18 14:26] mnapoli commented on #35
Hi! Thanks this is indeed documented here: https://github.com/myclabs/php-enum#static-methods I tend to use that solution as it's really simple.

[2016-04-18 14:27] sagikazarmark commented on #35
Pfff, I guess I would just had to read a few more lines :wink:

[2016-04-18 14:27] #35 closed

[2016-04-18 14:28] mnapoli commented on #35
;) no problem

[2016-08-01 15:07] holtkamp opened #36 "Return type of getValues()"
Currently the PHPDoc return type of ```getValues()``` is [an array](https://github.com/myclabs/php-enum/blob/5b66b22209ffbb547958aeacf9ad4a0e9a453da1/src/Enum.php#L89).

Would it be an idea to change that to:

[code]

This would allow proper code completion, for example:

[code]

[2016-08-01 15:08] mnapoli commented on #36
:+1: I'm all for that

[2016-08-01 15:10] holtkamp commented on #36
Hehe, quick reaction, maybe even

[code]

Not sure how well supported that is...

[2016-08-01 15:48] mnapoli commented on #36
Fixed by #37

[2016-08-01 15:48] #36 closed

[2016-09-02 23:20] ltdeta opened #38 "insert phpdoc version"
please insert phpdoc comment ```@version 1.4.2``` into php-enum comment block

[2016-09-03 09:10] mnapoli commented on #38
@ltdeta did you experience a problem? How would the version help?

[2016-09-03 12:42] ltdeta commented on #38
In my web application i can easily identify the used version for a long time period.
Without a version number (inside) it is more difficult doing that.

[2016-09-03 14:27] Narno commented on #38
Why don't use `composer show myclabs/php-enum` command?

[2016-09-05 08:59] mnapoli commented on #38
:+1: it's not an issue with this package, you can use composer for that.

[2016-09-05 08:59] #38 closed

[2016-09-05 14:15] ltdeta commented on #38
It is a simple feature request .....

[2016-09-05 16:07] mnapoli commented on #38
Have you tried `composer show` as suggested by @Narno?

I don't know many open source projects that add such version information in the source code, it's a lot of pain because you would have to update it for each release.

[2016-09-05 18:37] ltdeta commented on #38
Have a look at github many of php or javascript projects have versioning implemented
But this is only a suggestion and not more :)

[2016-10-02 18:14] jeremykendall commented on #4
I was looking for this functionality last night. Added PR #39 + a test.

[2016-10-04 08:28] mnapoli commented on #4
#39 has been merged, I'll give it a day or two for everyone to review (given how used the library is) and then I'll tag `1.5.0`

Thanks @jeremykendall

[2016-10-04 12:06] jeremykendall commented on #4
@mnapoli You're welcome! Thanks for letting me contribute!

[2016-10-05 16:58] mirfilip commented on #4
@mnapoli @jeremykendall My team and I use this library as a base for our own enum library (a wrapper, you can call it) and we tend to add features that seems necessary for us and maybe doesn't warrant the inclusion to `php-enum` itself. With that intro, I'll share our insights cause we've discussed "equals in php" problem couple of times:

The need for `equals` method is most visible to (ex-)Java

[2016-10-05 17:14] mnapoli commented on #4
@mirfilip right that's an interesting POV. Making the method final would make sense. And as @ocramius would say it's easier to remove `final` than to add it so it's safer to go this way at first.

Thoughts anyone?

[2016-10-05 17:25] jeremykendall commented on #4
I'm always game for `final` and would be happy to amend the PR.

Awesome input, @mirfilip!

On Wednesday, October 5, 2016, Matthieu Napoli <notifications@github.com>
wrote:

--
Sent from Gmail Mobile

[2016-10-06 08:33] chippyash commented on #4
@mirfilip - Good use of Final.  Just shared it with my dev team as an example - thanks.

[2016-10-06 09:40] mnapoli commented on #4
Ok let's do it then, @jeremykendall could you add it?

[2016-10-06 13:38] mirfilip commented on #4
@jeremykendall When you modify the PR, would you mind adding more tests?

As it stands, two cases are tested:
1. Compare two different enums
2. Compare the same instances

The missing case is:
3. Compare two different instances but having the same value (`$red` and `$anotherRed` from my example)

[2016-10-06 14:39] jeremykendall commented on #4
Thanks, everyone! I'd love to add `final` and some additional test cases. It might take a few days as I just left on vacation. If someone else wants to make the update in order to have it merged and tagged as quickly as possible, that would be awesome. Otherwise I'll submit the updates as soon as I can.

[2016-10-06 22:10] jeremykendall commented on #4
I couldn't resist. Just submitted PR #40.

[2016-10-09 21:42] mnapoli commented on #4
All is good now, we can close this I'll tag a release

[2016-10-09 21:42] #4 closed

[2016-10-09 21:45] mnapoli commented on #4
[1.5.0](https://github.com/myclabs/php-enum/releases/tag/1.5.0) 🎉

[2016-10-10 15:00] jeremykendall commented on #4
Ugh. I hate that, and I know it's super frustrating.

Although your custom `Enum` is broken (a very real and very frustrating problem), adding a new method isn't a breaking change, meaning that a minor version bump is the most appropriate choice. From [semver.org](http://semver.org/#summary):

That said, I'm interested to hear more about your `equals` implementation and how it differs from what ha

[2016-10-10 15:09] sebastiandedeyne commented on #4
That's the thing, it wasn't added in a backwards compatible manner.

[code]

There's no difference in functionality, it breaks because of the `final` keyword.

Don't get me wrong, I welcome the addition of the method to this package, it just shouldn't be `final` unless you're tagging a new major version.

[2016-10-10 15:19] chippyash commented on #4
@sebastiandedeyne I may be missing something here. A Major version is required when the change breaks compatibility in the source lib, e.g. an API changes.  I'm not sure that adding a new method (with or without final) that may clash with unknown downstream code constitutes a breaking change.  After all, that way, we may never get enhancements into the code base.  But be interesting to hear other

[2016-10-10 15:32] mnapoli commented on #4
I have the same question, final is supposed to prevent overriding the method so I'm curious why (if we exclude the fact that you already defined it before) you would need to override it?

[2016-10-10 15:34] jeremykendall commented on #4
That's my take on the semver concern (emphasis added).

[2016-10-10 16:06] sebastiandedeyne commented on #4
I think you guys are right, semver doesn't seem to consider this a breaking change.

I still don't really agree with `final` since it increases the chance to break implementations with for no great value.

[2016-10-10 20:26] mirfilip commented on #4
@sebastiandedeyne I feel your pain, but this is not a BC break.

BC break from semver definition treats about functionality that has been added to a library and later is changed, so that people depending on it encounter a functionality breakage.

There was no `equals` previously in this library, so addition of a new method is by no means a contract breakage.

If you think about it, it makes perfec

[2016-10-10 20:35] sebastiandedeyne commented on #4
Makes sense, fair enough :)

[2016-10-11 00:42] Ocramius commented on #4
Adding `final` IS a breaking API change. You can remove f
`final` at any time, but adding it requires a major version bump.

On 10 Oct 2016 18:06, "Sebastian De Deyne" <notifications@github.com> wrote:

[2016-10-11 00:44] jeremykendall commented on #4
If adding final to an existing API method, definitely, but what about
adding a new final method? I feel like that's an important distinction.

On Monday, October 10, 2016, Marco Pivetta <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2016-10-11 00:49] Ocramius commented on #4
Yeah, good point, new method is surely not a breakage, though the
possibility of somebody overriding it by accident always exists

On 11 Oct 2016 02:44, "Jeremy Kendall" <notifications@github.com> wrote:

[2017-01-12 16:16] harrisnl opened #42 "Create enum instance by key"
Wouldn't it be useful if you could easily create a enum instance by key?
When using a database to store enum keys, and retrieving again, you now have to create like this:

[code]

Maybe this is more elegant:

[code]

I think the function can be as easy as this:

[code]

[2017-01-14 23:19] mnapoli commented on #42
Hi, thank you for the suggestion. The Enum class bears already a lot of methods today so I don't think it's worth adding a new one, especially one that duplicates something that is already possible. I usually go by the motto that the less users have to choose, the better, there's less confusion, docs are simpler, etc.

[2017-01-15 00:18] chippyash commented on #42
I agree.  The Enum class has been a very useful addition to the armoury of those of us that like to [Strong Type](https://github.com/chippyash/Strong-Type) our code.  It works just as it should do.  For this reason I didn't try to emulate it in my own library. I just use this one when I need it :-)

[2017-01-15 21:33] harrisnl commented on #42
Ok, but wouldn't it be more logical to create a new enum by passing the key instead of value?
I already had various practical situations where developers tried to create enums (with key value coming from database) by doing
[code]
If the enum value is changing, this breaks the code.
In my opinion, the foundation of a enum is a fixed key, values should always be modifiable.

[2017-01-15 21:33] #42 closed

[2017-01-16 07:16] chippyash commented on #42
@harrisnl I think you may be missing the point of an `Enum`.  An [Enum](https://en.wikipedia.org/wiki/Enumerated_type) is a data type consisting of a set of named values.  What those values are, and the names given to them are purposefully at the command of the programmer.  It is up to the programmer to ensure that the values don't change.  How you use the library is up to you.

[2017-01-21 13:24] adrium commented on #8
See #43 or adrium/php-enum version 1.5.1

[2017-03-12 19:58] amorimjuliana opened #46 "Implement common standard for the comparison method"
First of all, thanks for sharing your work with us.

Any chance of implementing [phpcommon-comparison](https://github.com/marcospassos/phpcommon-comparison) in this library?

[2017-03-13 07:36] mnapoli commented on #46
Hi @amorimjuliana, I'm not sure I see the value this library would bring, you can already compare enums with `==` today.

[2017-03-24 11:36] peter-gribanov opened #47 "Method equals is incorrect working"
Method equals() only check values from enumerations.
Not check type of enumerations class.

Example error:

[code]

[code]

[code]

Expected

[code]

Actual

[code]

[2017-03-26 10:21] mnapoli commented on #47
Hey nice catch! I can't believe it's been under our nose for so long ^^

[2017-03-26 10:32] mnapoli commented on #47
Fix in #48 and released

[2017-03-26 10:32] #47 closed

[2017-04-07 23:39] aftabnaveed opened #51 "Set Default"
Wiht SplEnum you can set  default enum using __default. Is there a way to do something similar here?

[2017-04-08 08:07] mnapoli commented on #51
Hello, no it's not possible :)

[2017-04-08 08:07] #51 closed

[2017-04-18 23:42] marcospassos opened #52 "EnumSets"
Any chances of having EnumSets as a complement to this library?

[2017-04-19 19:08] mnapoli commented on #52
Hi, I'm not sure I understand what it would bring to the table.

[2017-04-20 17:53] chippyash commented on #52
@marcospassos Best idea is to create a lib implementing Sets dependent on Enum and publish it.  That way, a/ you get what you want and b/ Enum devs can consider if they want to roll it into the main Enum lib.

[2017-04-23 11:20] mnapoli commented on #52
:+1:

[2017-04-23 11:20] #52 closed

[2017-05-16 14:04] peter-gribanov opened #53 "Constant value can be a array"
Bug at [this](https://github.com/myclabs/php-enum/blob/master/src/Enum.php#L73) line. ([proof](http://php.net/manual/ru/language.oop5.constants.php))
It will be better use the name of constant for `__toString()`.

[2017-05-16 14:29] mnapoli commented on #53
Hi, I'm not sure I understand could you explain a bit more?

[2017-05-16 14:34] peter-gribanov commented on #53
This is an exaggerated example:

[code]

bug:

[code]

[2017-05-16 14:37] peter-gribanov commented on #53
It will be better use the name of constant:

[code]

[2017-05-20 15:15] mnapoli commented on #53
OK I see, we cannot change the existing behavior it would be a BC break.

However we could check if the value is an array: in that case there could be, for example, an `implode()`.

[2017-05-22 04:33] chippyash commented on #53
Not sure it's a bug.  If people would use it for arrays instead of a single value, then the behaviour could be considered unpredictable, as you now effectively have a set and not an enum;

[2017-05-22 10:51] peter-gribanov commented on #53
@mnapoli If a multidimensional array is used, `implode()` does not solve the problem. In addition, it will not be very readable.

I advise simply to replace the transformation of the object to a string.

[code]

@chippyash you are right, but i think that we should not rule out such an opportunity.

[2017-05-22 19:25] mnapoli commented on #53
@chippyash yes that's a good point of view.

@peter-gribanov as I said this solution is a BC break, we cannot do that.

`__toString()` is usually used for debugging so it would make sense to me to dump something useful.

Here are our options:

1. do nothing and keep the error
2. dump something useful
3. ?

[2017-05-22 19:55] chippyash commented on #53
@mnapoli

3rd option is just to document it. i.e. don't try and use enums as sets, the behaviour is unpredictable.

4th option, reinforce 3rd option and put in a check that ensures that enum values are scalar and not traversable.  Throw an exception if contravening.

[2017-05-22 19:57] mnapoli commented on #53
I see nothing wrong with using an array as a value though 🤔

[2017-05-22 20:09] chippyash commented on #53
Consider this as a traditional explanation of the difference between ENUM and SET as applied to SQL (where they get used a lot,)

Therefore if you want to construct a SET of ENUMs, use an array as a simple collection, or better still  some immutable type.  (see https://github.com/chippyash/Monad and the Monadic Collection as an example. Other Collections exist. NB. The Monadic collection checks on

[2017-05-22 20:20] mnapoli commented on #53
Thanks for the explanation, personally I'm still not really convinced we must apply the same logic to PHP.

[2017-05-22 20:34] chippyash commented on #53
@mnapoli

Why not?  In any language (programming or linguistic,) there are some constants.  We are discussing a data structure type which is universal across programming languages.  To say that we shouldn't do the same in PHP would lead to confusion.  _The Enum lib does what it says it will do on the tin._  We can always pervert PHP code to do something it's not intended to do.  Ever seen a routin

[2017-05-22 20:39] mnapoli commented on #53
The only problem we are facing is `__toString()` it seems, so it doesn't seem like a good reason to prevent that kind of usage. Let's see if other problems pop up because of arrays.

[2017-05-22 21:02] chippyash commented on #53
What about nested arrays?  Or arrays of objects?  Or even just objects?  Or resources? How do you come up with a universal __toString() method for all of those?  Have a look at https://github.com/chippyash/Monad/blob/master/src/chippyash/Monad/Match.php to see the pain you have to go through to be 'generalist'.  But once you start down the route, you have to cover them all.

Any way.  Good discuss

[2017-05-23 06:49] mnapoli commented on #53
You cannot add objects or resources into a constant though.

[2017-05-23 14:24] peter-gribanov commented on #53
@mnapoli No. You can define constants as a resource

http://php.net/manual/en/language.constants.syntax.php

[2017-05-23 14:27] peter-gribanov commented on #53
I did not try to do it. Most likely this refers to the function `define()`

[2017-05-23 19:46] chippyash commented on #53
Anyway - here is an [example](https://github.com/chippyash/monadic-sets) of how you might do sets by combining a collection and enum

[2017-05-24 06:06] mnapoli commented on #53
@peter-gribanov this doesn't apply to class constants.

[2017-05-24 07:55] peter-gribanov commented on #53
@mnapoli Yes. I made a mistake. This only works for global constants.

[code]
print
[code]
But you can still use multidimensional arrays as a constant value:
[code]

[2017-05-24 07:58] peter-gribanov commented on #53
@mnapoli you use for debugging, and i use to display a readable value on the screen.

[code]
Use translate value in Twig
[code]

[2017-05-24 08:51] mnapoli commented on #53
@peter-gribanov that would still work since you are overriding the method.

[2017-07-27 15:38] Ex3v opened #58 "I made a Symfony ParamConverter integration bundle - please check"
Hi!

I've created package to interate your enums with Symfony's paramConverters. Please check it out here:
Packagist:
https://packagist.org/packages/ex3v/myclabs-enum-param-converter

Repo:
https://github.com/Ex3v/MyCLabsEnumParamConverter

[2017-07-27 20:11] mnapoli commented on #58
Nice, could you send a pull request to add it the this section in the README: https://github.com/myclabs/php-enum#related-projects ?

[2017-07-27 21:48] Ex3v commented on #58
No problem! #59

[2017-07-29 17:00] #58 closed

[2018-01-09 14:05] marrch-caat opened #62 "Base method toArray processes all constants, including privates."
Right now, Enum works fine for simple classes, but when I want to add something custom and add some private constants to a class, they are treated as if they were public: they are listed in toArray() output and thus their values make isValid() return TRUE, their names produce TRUE on isValidKey() etc etc. It is very much wrong in many cases.
So I propose the following change:

[code]

[2018-01-09 14:22] mnapoli commented on #62
I think that this is a good thing that private constants are recognized by the enum, that forces the user to use the methods instead of the constants (which is a common mistake).

Example:

[code]

If the constants are private then autocompletion will show only `::VIEW()` which is better!

[2018-01-10 12:11] chorry commented on #62
I think its not about using constants vs methods, its about ::values giving out all possible constants:
[code]
Yes, autocomplete won't show you HIDDEN, but Action::values() will return VIEW and HIDDEN as well. So the question is this behaviour intended by design, or actually a bug?

[2018-01-10 13:29] mnapoli commented on #62
This is not a feature, it's by design (it's a good thing):

[code]

Is that what you were asking?

Said another way, private constants are part of the enum.

[2018-01-10 13:31] mnapoli commented on #62
I've opened #63 to address this confusion.

[2018-01-10 14:01] marrch-caat commented on #62
So looks like there is no proper way to do something like
[code]

(Of course, I can always replace private const by a private static field, but I can't treat that as a **proper** way to do, it's just a not-so-bad workaround for the Enum class limitations).

[2018-01-10 14:08] marrch-caat commented on #62
And BTW, "problem" with using constant instead of method and vice versa is minimized (in fact, it just doesn't appear) by using type hints and PHPDoc notations.

[2018-01-29 04:16] keithmifsud opened #65 "Search() method does not consider constants with same values."
Thanks for this library MyClabs :)

Not sure if this should be resolve dor not. I find it problematic that when searching, the method does not consider that there may be several constants with same values. Example of an international dialling code enum:

[code]

Then when I instantiate the Enum like so:

[code]

[2018-02-12 12:27] mnapoli commented on #65
:+1:, I think supporting multiple identical values in the same enum is problematic. I'm not sure we could enforce it strictly without loosing in performances though 🤔

[2018-02-12 13:24] keithmifsud commented on #65
If it was to be done, how would you go about it? I'm asking so I can understand what you mean in performance loss.

[2018-02-12 13:29] keithmifsud commented on #65
I encountered this issue in several domains including foreign exchange rates, foreign exchange currency codes and other more custom ones such as that a status can be different but the value the same. Example of "LeadStatus" enum:

const ACQUIRED = "Open";
const PENDING _QUALIFICATION= "Open";
const QUALIFIED = "Closed";
const NOT_QUALIFIED = "Closed";

[2018-02-12 13:37] mnapoli commented on #65
Oh OK, maybe it's not so uncommon to have duplicate values… I did not think about it much.

I was thinking about ensuring that there are no duplicate values, but that's costly to do. I'm not sure there is much we can do here :/

[2018-02-13 08:02] keithmifsud commented on #65
I understand. Enums can have same value even in C language :)

But again this is a matter of how one uses Enums. The LeadStatus enum example can be changed so that the values do meet their name but cases like I had with the country calling codes cannot be refactored.

I also tried using another library from MabeEnum and it also produces the same unexpected result. Therefore, for a demo https://git

[2018-03-23 04:04] ChrisTucker2000 opened #66 "isValid() returns false for a valid value?"
Hello. I'm trying to use this and am running into problems.

[code]

[code]

What am I doing wrong?

[2018-03-23 13:31] mnapoli commented on #66
Hi, `isValid()` takes a value (like `1`, `2`, etc.), not an instance of an enum.

Maybe the phpdoc could be improve, feel free to send a pull request?

[2018-04-07 08:59] BinotaLIU commented on #66
Maybe we can simply do an `instanceof` check in `isValid` method?

Take Laravel's Eloquent model for example.
I have a model call "Subscription", and a enum class `StatusesEnum`

[code]

For reading and writing the `$status` property, could be:

[code]

Since data fetched from database is a string, we need to write a getter method:
[code]

There could be a bug if we write the data to `status` prop

[2018-04-09 08:29] mnapoli commented on #66
@BinotaLIU I understand your context but I try to keep the code and the use cases as simple as possible. If a method does X, (IMO) it should not do Y.

Said another way, if a variable is already an instance of an enum, it is already valid so it shouldn't be fed to `isValid()`.

I think the best course of action is to improve the phpdoc.

[2018-05-02 13:58] Daanvm opened #67 "Implement JsonSerializable interface"
Currently encoding an `Enum` object with `json_encode()` returns `{}`, which isn't really useful.

This has been requested before in #30 and #60, but the [`JsonSerializable` interface](http://php.net/manual/en/class.jsonserializable.php) only exists since PHP 5.4. This library [still supports PHP 5.3](https://github.com/myclabs/php-enum/blob/master/composer.json#L25).

However, now we're a few yea

[2018-05-02 14:36] willemstuursma commented on #67
Note that if a new version for PHP 5.4 is created, Composer will still install older versions for PHP 5.3 users and prevent the incompatible version from being installed.

[2018-05-03 11:41] mnapoli commented on #67
I agree, it is time to drop PHP 5.3. I had a look at packages that use PhpEnum (https://packagist.org/packages/myclabs/php-enum/dependents) and I couldn't see any big one compatible with PHP 5.3.

@Daanvm I'm 👍 with a PR that drops PHP 5.3 :) Then we'll be able to support serialization.

[2018-05-03 12:28] Daanvm commented on #67
Great! I'll create a PR for dropping PHP 5.3 and another PR to add JSON serialization support.

[2018-05-05 01:30] shadowhand commented on #8
What would be the point of singletons? Enums are [value objects](https://en.wikipedia.org/wiki/Value_object) and value objects equality is not based on identity:

The current implementation of Enum is correct because it contains an `equals()` method that tests equality based on type and value.

[2018-05-05 01:32] shadowhand opened #70 "Drop support for unsupported PHP versions"
There are a number of optimizations that could be made to this package by dropping support for PHP <5.6 and even more by dropping support for PHP <7.0.

[2018-05-07 06:03] mnapoli commented on #8
@shadowhand that's a good point indeed. I think the main "issues" would be practicality (ability to use `===`) and performances.

But this package has worked fine until now without singletons, a 2.0 would create a lot of conflicts downstream for very little gain so I think it's acceptable to keep this on hold unless we find a very good reason to release a v2.0.

[2018-05-07 06:06] mnapoli commented on #70
What do you mean by `optimization` precisely?

I see this package as a "base building block", unlike most other packages I maintain I try to keep it as unrestrictive as possible.

[2018-05-07 06:08] #62 closed

[2018-05-07 08:00] holtkamp commented on #62
I kind of agree with https://github.com/myclabs/php-enum/issues/62#issue-287100040 and disagree with https://github.com/myclabs/php-enum/pull/63

In case you want the constants to be used by other parts of code => make them public. In case someone wants to use constants for internal use (for whatever reason, one example is https://github.com/myclabs/php-enum/issues/62#issuecomment-356610192), then

[2018-05-07 12:10] shadowhand commented on #70
I noticed a couple of (micro) optimizations, for instance:

- [equals()](https://github.com/myclabs/php-enum/blob/ca4a819736039bfaf53a8a0102ba2bb7962652fd/src/Enum.php#L85) could use `static::class` instead of `get_called_class()`
- ditto for [toArray()](https://github.com/myclabs/php-enum/blob/ca4a819736039bfaf53a8a0102ba2bb7962652fd/src/Enum.php#L121)

Jumping to PHP 7 would also allow for stric

[2018-06-28 09:48] Brammm commented on #70
Adding a 👍 for a PHP 7 version.

[2018-06-30 16:32] mnapoli commented on #70
Copying my answer from #73 for reference:

---

I don't want to have a v2.0 unless it becomes absolutely necessary, here is an explanation:

That being said we could upgrade to PHP 7.1 in a minor version (Composer will handle things without BC breaks for users). But I do not see actual value in that.

Don't get me wrong, I am the first to move every one of my open source package to the highest PHP

[2018-07-14 14:15] KartaviK opened #74 "More magic with attributes in __callStatic() method"
**Idea**: add logic to set up another protected/private attributes by statically instantiate without realization of own constructor.

**Example class:**

[code]
**Example usages:**
[code]

[2018-07-14 15:56] mnapoli commented on #74
Thank you for opening the issue. I don't think it would be good to add every little helper we can think of, especially if it can be implemented simply in userland.

I do understand your need, but I think it's important for a project to focus on solving the original problem as directly as possible.

I hope you understand.

[2018-07-14 15:56] #74 closed

[2018-10-25 12:12] KartaviK opened #77 "Nullable value for enum"
To do this, I had to expand Enum to support `null` values.
It is also a good idea to support null as a separate enum value.

I recommend to use `array_key_exist()` instead of `isset()` for validate Enum value:

New:
[code]

Example:
[code]

I can put `null` to `__construct()`
[code]

But i cant do it with static:
[code]

And finally i can remove excess `?` operator from methods and constructors:

[2018-10-25 12:55] KartaviK commented on #77
Implementation:
https://github.com/myclabs/php-enum/pull/78

[2018-10-25 13:54] willemstuursma commented on #77
You can combine `isset` and `array_key_exists` to get best of both worlds.

[code]

[2018-10-25 14:03] KartaviK commented on #77
Yes, I agree. In this case, array_key_exists will be executed secondary if isset returns false

[2018-10-27 21:15] mnapoli commented on #77
Really nice fix and thanks @willemstuursma too, merging!

[2018-10-27 21:15] #77 closed

[2019-02-28 10:34] KartaviK commented on #26
If the package is open source and it is not so big, you can add the codecov reports. Easiest way to allow coverage

[2019-02-28 10:40] mnapoli commented on #26
TBH I'm not really interested in this in the end. The project is fairly well tested, the amount of bugs we received is low so there's no problem here.

[2019-02-28 10:40] #26 closed

[2019-04-10 09:35] KartaviK commented on #8
Constructor is public, so it will automatically create new instance.
To use singletons, you can use `search` method, like this:
[code]
Not best practice, but it will always create single instance

[2019-04-10 12:59] shadowhand commented on #8
@KartaviK see my response. Enums (as implemented in this package) are value objects, and value objects have equality by state, not by being singletons.

[2019-04-18 10:29] jacek-foremski opened #86 "Compatibility with php-ds/ext-ds"
Hello.
I wanted to use this package for my project (BTW good job, it looks very useful).
However I encountered an issue when I tried using it alongside php-ds/ext-ds (https://github.com/php-ds/ext-ds). What I would like to do is to use Enum objects inside Set structure, which by definition should store only unique values. The objects are compared using Hashable interface (https://github.com/php-ds

[2019-04-20 14:20] mnapoli commented on #86
Hi, from what I understand here is what you suggest:

- require PHP 7.0 and add return types
- change `equals()` to accept anything (and return false when it's not an enum)

Those sound like very sensible changes. Did I miss anything?

[2019-04-20 15:02] jacek-foremski commented on #86
That is correct. I'm glad to hear that you feel positive about the changes.
An alternative to requiring PHP 7 and adding the return type is to remove the "final" keyword (which could be done without the BC Break). It would allow to override the method and add the return type in the override. However I feel that adding the return type in the project would be better option in the long term.

Do you

[2019-04-20 15:51] mnapoli commented on #86
Targeting PHP 7 is definitely a good move honestly, it is time :)

[2019-04-20 16:47] mnapoli commented on #86
Sorry I missed that, a PR would be welcome indeed.

[2019-04-20 20:50] jacek-foremski commented on #86
Great. I'll do that next week and let you know.

[2019-04-21 07:04] willemstuursma commented on #86
What about throwing an exception is it is not an enum. This will make sure implementation errors do not go unnoticed.

[2019-04-21 07:54] jacek-foremski commented on #86
It's of course an option, but I would disagree that passing an object of different type is an implementation error.
There might be a valid reason to compare objects, even if they are not of the same type.
Imagine having the collection of Hashable objects. Also imagine that my custom enum extends the enum from this package and also implements Hashable interface. Now I want to put inside the collect

[2019-04-21 14:05] mnapoli commented on #86
@jacek-foremski agreed, having a `equals` method that can take anything is a common pattern in value objects (at least from my experience).

[2019-04-23 10:54] jacek-foremski commented on #86
As discussed, I created two PRs: https://github.com/myclabs/php-enum/pull/87, https://github.com/myclabs/php-enum/pull/88

[2019-04-23 10:59] mnapoli commented on #86
Was closed automatically by the merge ^^

[2019-04-23 12:00] #86 closed

[2019-04-23 12:02] mnapoli commented on #70
We got a reason to upgrade to PHP 7.2 in #86 (and the work was done by a contributor) 🚀

I'll tag a new (minor) release.

[2019-04-23 12:02] #70 closed

[2019-04-23 12:04] #46 closed

[2019-04-23 12:15] jacek-foremski commented on #86
@mnapoli works great, thanks a lot!

[2019-04-23 12:42] shadowhand commented on #70
@mnapoli what about adding return types to other methods? The current changes are already breaking and will require a major version, as `equals()` method signature has changed.

[2019-04-23 12:44] shadowhand commented on #70
@mnapoli never mind, I read the PR again and I see that `equals()` is declared `final`, so minor version is possible.

[2019-05-06 03:01] woodongwong opened #91 "In the example "private const VIEW = 'view';" cannot be accessed via "Action::VIEW""

[2019-05-07 13:09] kost999 commented on #91
It can be accessed via magic VIEW() method

[2019-05-07 14:45] willemstuursma commented on #91
It's the example, it's actually impossible to run.

[2019-05-08 02:39] woodongwong commented on #91
I know, what I want to say is: this example is not perfect.

[2019-05-12 08:58] pascal-eberhard opened #92 "Implement Enum Interface"
Hi, this is a wonderfull project. I already used it, because SplEnum is not always available.

The one thing I am missing is an interface for the \MyCLabs\Enum\Enum class. It would be more easy to use the interface for typehint.

Thx.

[2019-05-12 10:33] mnapoli commented on #92
Thank you!

I'm not sure I see the point with having an interface: when would it be useful? Could you provide an example to illustrate?

[2019-05-16 12:39] willemstuursma commented on #92
For example, to extend the interface. For example, you have some special enums that must have a set of specific methods.

Extending an enum interface could allow that.

[2019-05-24 20:30] hawezo commented on #91
But this can't be achieved. This is not the fault of the example, it's a limitation of PHP.

[2019-05-24 22:05] mnapoli commented on #91
I'm not sure what we are discussing indeed. It's a private constant.

@woodongwong next time please write a description in issues you open, there are many people following this repository and you take some of their time.

[2019-05-24 22:05] #91 closed

[2019-05-25 09:19] pascal-eberhard commented on #92
* Custom Util classes
  * For example create an enum class from object or value. The return value type would be the interface
* General PHPUnitTests for all enum classes

[2019-05-28 10:29] mnapoli commented on #92
@willemstuursma you can extend the class already.

An enum is an instance of the `Enum` class, so the return type would be `Enum`. The interface doesn't bring any value.

I don't see how an interface helps.

An interface is useful when there are several implementations. Here the enum is a value object, an interface doesn't make sense. Unless you find a specific scenario where it would?

[2019-06-04 21:11] stevebauman opened #93 "[Feature Request] Method to retrieve human readable name for numeric enums"
I was wondering your thoughts on maybe including a trait or implementing a method for retrieving a human readable format for enums that are numeric and contain underscores?

For example, here is my enum:

[code]

Calling `getKey()` with a `ThreatLevel::VERY_LOW` enum value, will return `"VERY_LOW"`.

It would be great for the enum class to implement a method to simply remove underscores and then r

[2019-06-05 08:55] mnapoli commented on #93
Hi, this is indeed something I need from time to time.

However I still don't think it should be part of this package. Think of this package as the missing classes that could exist internally in PHP. There wouldn't be this method in a PHP native implementation.

To me these kinds of helpers better belong e.g. as Twig filters or view helpers.

[2019-06-05 11:56] stevebauman commented on #93
Ok I respect that, thanks for responding!

[2019-06-05 11:56] #93 closed

[2019-07-18 13:28] slepic opened #95 "Construction of enum object with invalid value is possible"
Check this sample:
[code]
Expected exception, instead got A3 printed.
[code]
throws as expected.

[2019-07-18 16:04] mnapoli commented on #95
Thanks, that's an interesting problem 🤔

I'm wondering if all Enums should not be made final? (i.e. recommended in the docs)

Because inheritance doesn't work here: yes `Enum2` is an instance of `Enum2`, but there is actually no guarantee that it's a valid value of `Enum2` (hence it's not really an instance of `Enum2`).

[2019-07-18 17:15] slepic commented on #95
IMO the problem is here:
https://github.com/myclabs/php-enum/blob/master/src/Enum.php#L44

The value should either be validated anyway, or passing an Enum instance to Enum constructor should not be allowed at all.

[2019-07-19 10:16] mnapoli commented on #95
As I said I think the problem is more global.

[code]

Here an instance of `Enum2` would actually be a problem, because there would be no guarantee that it would have a valid value.

So I really think inheritance is incompatible with enums in general.

[2019-07-31 10:39] chapa commented on #91
He just wanted to point that the example code is not runnable :
[code]
This will throw `Error : Cannot access private const Action::VIEW`

I think the README should be fixed, because it can mislead people.

[2019-07-31 10:46] mnapoli commented on #91
@chapa thanks, I've updated the documentation to this:

[code]

[2019-08-12 12:46] KartaviK commented on #95
The above error is the result of incorrect use of the enum pattern in the application. But this does not mean that it is forbidden, there are times when it is really needed. Solution in PR #97

[2019-08-12 13:10] slepic commented on #95
Nice, that's exactly what I would have suggested, unless I got distracted by other stuff... :/ Thanks, @KartaviK

[2019-08-15 12:23] zmitic opened #99 "Add support for phpstorm"
In PHPStorm, when you have code like ``$enum->equals()`` you don't have autocomplete of possible options.

That _should_ be achievable with meta file: https://blog.jetbrains.com/phpstorm/2019/02/new-phpstorm-meta-php-features/

Now... I am not going to lie, I tried and failed:

[code]

and failed attempt of meta file (cache invalidated, just in case):

[code]

Used example was intentionally for re

[2019-08-18 13:34] dbalabka commented on #8
Creating a new object for each enum usage is memory wasting. Imagine you are fetching a huge amount of rows from the database. High memory usage affects performance in general (e.g. GC).

Comparing the other languages implementations you can see that they use the singletons:
1. Python https://repl.it/@torinaki/Python-Enum-is-Singleton
2. Java https://repl.it/@torinaki/Java-Enum-is-Singleton

[2019-08-18 14:48] githoober commented on #8
IMO, the way this library instantiates its enum values is a detail of implementation. If you disagree, then this library should clearly state in its description that it relies on the value object definition of object equality.

[2019-08-19 13:53] mnapoli commented on #95
Closed by #97, thanks @KartaviK

[2019-08-19 13:53] #95 closed

[2019-08-20 08:27] dbalabka commented on #8
I support @githoober. IMO it leads to misunderstanding. Enums and ValueObjects behave differently. Enums (as I showed in a [comment](https://github.com/myclabs/php-enum/issues/8#issuecomment-522322615) above) in most languages represents the set of constants. In turn, ValueObject is a structure that can be instantiated (!) with any set of values for defined parameters.

[2019-09-03 12:20] leroy opened #100 "__toString() returns the enum's name, the documentation suggests otherwise."
Hi,

Thanks for this great package we've been using it alot!

The documentation mentions echoing an enum will print it's value but __toString() actually returns the enum's value.

Is this intentional?

[2019-09-03 12:25] mnapoli commented on #100
Hi @leroy, could you clarify what the problem is (or the question)? I'm not sure I understand, maybe an example would help?

[2019-09-03 14:18] leroy commented on #100
Oops! I just noticed i mentioned enum's value twice.

I meant to say __toString() actually returns the enum's name (the constant name)

[2019-09-03 14:21] leroy commented on #100
Okay, never mind actually. I just noticed i am using a completely different enum package entirely.

Sorry for the inconvenience.

[2019-09-03 14:21] #100 closed

[2019-09-08 08:19] dbalabka commented on #8
I came to a conclusion, that It'll require several BC breaks and would be problematic to implement in this library in the near future.

As a result, I have created my own implementation of Enums. The implementation is based on [Enumeration Classes](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types) and is very clos

[2019-09-17 20:29] fruit commented on #8
Please, don't do it (i.e. put enums into singletons). Enums are a [value objects](https://martinfowler.com/bliki/ValueObject.html), and this is bad idea to have singletons for value object. In normal languages to compare value objects you have to implement `->equals()` method on it to make comparisons (thanks, current `Enum` class already have it).

[2019-09-18 07:43] dbalabka commented on #8
@fruit thank you for your opinion. As I showed in a [comment](https://github.com/myclabs/php-enum/issues/8#issuecomment-522322615) above, Java and Python use an exactly single object instance to represent Enum value.
There is also a [great answer](https://stackoverflow.com/questions/1750435/comparing-java-enum-members-or-equals) on StackOverflow that explains how `->equals()` works in Java and wha

[2019-10-09 10:38] xoinstein opened #104 "Unhandled ReflectionException"
[code]
ReflectionClass
[code]
forgive me,my english is poor.
the class does exist in this case,handled ReflectionException or throw it would be better.

[2019-10-13 17:06] mnapoli commented on #104
Hi, I'm sorry but I don't really understand your problem.

Could you post an example that reproduces your problem? Thanks! In the meantime, I'll keep the issue closed, and I will reopen with more details.

[2019-10-13 17:06] #104 closed

[2019-10-15 14:56] dingo-d opened #105 "Is there a better way of returning the enum value?"
I'm relatively new when it comes to working with enums, but I thought (because I didn't read obviously) that the `EnumName::ITEM()` would return a value of the enum instead of the enum class with the protected value property (in hindsight it kinda makes sense with the typehints and all).

So I'm stuck with `EnumName::ITEM()->getValue()`. Which is kinda... ugly 🤷‍♂

Or am I missing something?

[2019-10-19 16:49] mnapoli commented on #105
@dingo-d this is how enums are supposed to be used, you aren't supposed to use the value that much.

But if it is important to you, you can also use `EnumName::ITEM` to get the value directly.

[2019-10-19 16:49] #105 closed

[2019-10-19 17:59] dingo-d commented on #105
I talked with my colleagues who use enums in typescript and they use the values. So the misunderstanding probably came from there. As I've mentioned, I haven't used enums in php that much 🙂

In this case, the const in the enums should be `public` instead of `private`, right?

[2019-10-19 18:29] mnapoli commented on #105
Yes exactly :)

[2019-10-28 01:26] woodongwong commented on #91
@chapa  Thanks, I mean this , I think I should improve my ability to express myself and my English.

[2019-11-14 10:07] raheelkhan opened #109 "PHP Storm complains about unused private field CONSTANT_NAME"
[code]

When hovering over constants, PHP Storm assumes that there are not being used. Even when you use it with the __callStatic()

[2019-11-14 13:28] mnapoli commented on #109
This is true, I don't see anything we can do about that. There is no real problem here, unless I'm missing something.

[2019-11-14 13:28] #109 closed

[2020-02-13 09:33] TrogWarZ opened #113 "Semantical error while parsing annotations between patch-versions"
Hello!

I've upgraded this library from `1.7.2` to `1.7.4` and see errors like "The annotation "@template" in class MyCLabs\Enum\Enum was never imported. Did you maybe forget to add a "use" statement for this annotation?". Using `php:7.3.14` and `symfony:4.4.*`.

How to fix that? Hardcode `myclabs/php-enum:1.7.2` version? Or, BC changes need to raise major version? Or, require some additional pack

[2020-02-13 09:41] mnapoli commented on #113
Thank you for the report. I have just opened https://github.com/doctrine/annotations/issues/308 to ask for clarification from the Doctrine team on what should be done here.

[2020-02-13 09:45] andrew-demb commented on #113
Which version of `doctrine/annotations` are you using?

[2020-02-13 09:49] TrogWarZ commented on #113
I don't use them directly but some packages installed `v1.8.0` as i can see by `composer -i`.

[2020-02-13 09:53] mnapoli commented on #113
Per https://github.com/doctrine/annotations/issues/308 we should probably prefix `@template` annotations with `@psalm-`.

[2020-02-13 16:17] jarstelfox commented on #113
Opened https://github.com/myclabs/php-enum/pull/114 which should be the fix.

@mnapoli or @TrogWarZ could you possible test my change

[2020-02-14 08:15] #113 closed

[2020-02-14 08:17] #66 closed

[2020-02-16 04:16] TrogWarZ commented on #113
@jarstelfox, thanks for the update! Upgrading `myclabs/php-enum` to `1.7.6` solves problem.

[2020-03-12 09:30] willemstuursma opened #115 "Add docs on how to deal with phpstan types"
I created some Enums and running phpstan with level 6 or higher I get this:

[code]

Could it be added to the readme how to add these types to my Enum class?

[2020-03-12 21:47] mnapoli commented on #115
Hi, to be honest I don't really know. We have psalm annotations, not phpstan annotations 🤔 I'm confused why PHPstan would error here.

[2020-03-13 07:56] willemstuursma commented on #115
I double checked, I run `PHPStan - PHP Static Analysis Tool 0.12.14`.

[2020-03-13 08:08] andrew-demb commented on #115
As phpstan can read psalm annotations (and psalm can read phpstan annotations also), you can describe generics, that will be supported for both tools.

You can use `@extends \MyCLabs\Enum\Enum<string>`.
Where `string` is type of your enum values.

Phpstan playground https://phpstan.org/r/8876f33b-45b1-4860-86d5-95acb1946356
Psalm playground https://psalm.dev/r/8c57a6070e

[2020-03-13 09:53] willemstuursma commented on #115
@andrew-demb thanks that worked!

[2020-06-09 10:26] willemstuursma opened #117 "Comparing Enums of different types should throw an exception"
Hi, I wanted to share some of my experiences.

Recently ran into a bug where an enum was compared with an enum of another class.

This was an implementation error, e.g. the engineer accidentally compared with the wrong type that had some of the same values.

I'd say that comparing two different types of enums, say Class A and Class B should result into an exception. That will prevent bugs from goi

[2020-06-11 07:34] mnapoli commented on #117
I understand. That makes sense in a way, but I think that, unless the situation is much more clear (like we can all agree that this is a feature we all need), I'm going to postpone that to another time.

I am trying to keep this library very stable, and make it look like if it was an official PHP feature (as much as possible). This is why I think it would be better here to have a behavior that loo

[2020-06-11 07:34] #117 closed

[2020-06-11 16:01] dydx-git opened #118 "Can't access the value when calling the enum"
I have this code for example:

[code]
And when I try to access it like this: `InvoiceStatus::PENDING()`, it gives the following output instead of the value:
[code]

I was expecting to get 0 here instead of an object. Am I doing something wrong?

[2020-06-11 17:04] mnapoli commented on #118
You are not doing anything wrong, this is the point of this library: to manipulate objects instead of raw values.

See this bit in the documentation: https://github.com/myclabs/php-enum#why

[2020-06-11 17:04] #118 closed

[2020-06-12 11:53] miguelrs commented on #92
An interface would be useful to allow us to extend that interface to add more functionality, and ensure the classes implementing our interface are also Enums...

An (oversimplified) example scenario from a real app I'm working on:

I've got an `Identifier` VO that allows me to uniquely identify several different things.
[code]

Some things, like my domain entities, are always identifiable.
[code]

[2020-06-30 15:13] jhaoda commented on #109
`/** @noinspection PhpUnusedPrivateFieldInspection */` will help.

[2020-07-09 19:22] MikkelPaulson opened #120 "PHP Enum ignores constant scope"
Due to the oddities of `ReflectionClass`, PHP Enum has counterintuitive behaviour surrounding constant scope. Consider the following code:

[code]

Expected output:

[code]

Actual output:

[code]

This behaviour is counterintuitive because private constants under any normal circumstances wouldn't be visible to the class being extended (ie. the `Enum` abstract class). Fixing this behaviour is tech

[2020-07-09 19:26] MikkelPaulson commented on #7
This is doable with the existing implementation, if you take advantage of constant scopes:

[code]

[2020-07-11 10:58] mnapoli commented on #120
Hi, this is intended, per the documentation: https://github.com/myclabs/php-enum#declaration

It simplifies autocompletion in IDEs. Constants are also not part of the public API of the enum.

[2020-07-11 10:58] #120 closed

[2020-07-13 17:27] MikkelPaulson commented on #120
Uh, wow. Sorry, but the _doc_ recommends making the constants private? Protected makes sense, but making them private goes against how scope is supposed to work.

I understand not merging the change, but I would at least update the doc to recommend declaring the class constants as protected. Also, there's currently no test coverage for non-public constants.

[2020-07-13 18:38] mnapoli commented on #120
I see, that makes sense, I didn't consider the protected vs private thing.

That being said, these enums are not really intended like actual PHP classes. I mean, they are PHP classes, but they are like a polyfill to a missing language feature. And in native enums, there wouldn't really be a system of private/protected values (I _think_ ^^).

I'm not sure if I'm making a lot of sense, but in any ca

[2020-08-27 04:14] peter279k opened #124 "Psalm reports static code analysis error"
When I run the `vendor/bin/psalm --shepherd`, the Psalm reports following static code analysis error:

[code]

I think it should be considered and fixed.

[2020-08-27 08:09] mnapoli commented on #124
Hi! I'm sorry but this issue is too broad, I'm not sure what to do with this (it's not really actionable). If you find issues in the code, open a pull request or a more specific issue (i.e. what problem does it actually cause).

[2020-08-27 08:09] #124 closed

[2020-09-06 15:32] pferreirafabricio opened #126 "Enum could not be converted to int"
Hi!
I created an Enum for my user's types:

[code]

But when I make a comparison between the user type in the model with the enum:
[code]

I got this error:

So I tried this way and works:
[code]
Is this the correct way to do this comparison?

[2020-09-07 06:56] mnapoli commented on #126
Based on the error message, it seems that `$user->user_type` is an int, not an instance of the enum.

So the last code sample is the correct way to compare in this case.

[2020-09-07 06:56] #126 closed

[2020-09-08 08:00] enumag opened #127 "Value passed to Enum::equals() can't be validated by static analysis"
I just found this bug in my code:

[code]

The correct code is of course this:

[code]

Now since I'm using both PHPStan and Psalm both on very strict mode, I thought I'd be safe against these types of bugs. The problem is that the type in `@param` annotation on `Enum::equal()` is `mixed` instead of `static`. This really should be changed in my opinion. When the type doesn't much then the method c

[2020-09-08 08:22] mnapoli commented on #127
That's an interesting problem, because `$freeType->equals(null)` is a valid call for example. The equals method accepts anything on purpose.

So I do understand your problem, and I definitely agree with you that it would be useful to catch this. But that being said, I'm not sure if there's anything we can do here…

Here is another way to view the same problem:

[code]

☝️  should this trigger a PH

[2020-09-08 11:42] enumag commented on #127
Not only it *should*, it actually *does*: https://phpstan.org/r/bc48ed05-afab-4dbf-b2e5-333863dbfb23

The purpose of static analysis is to catch things in the code that don't make sense. In this case the if is always false and therefore the body is never executed which means it's dead code. This is certainly something the programmer did not intend and therefore is reported.

No it is not. It is pr

[2020-09-08 17:55] mnapoli commented on #127
Ok you treated my examples too literally.

Let me be more clear: https://phpstan.org/r/a82c0e76-2d47-4f3e-b0ee-c6e10a70776e is valid.

In other words, `mixed === mixed` is a valid comparison.

Yes, `$feeType->equals(FeeType::DEPOSIT)` will always evaluate to false, and doesn't make sense. But `$feeType->equals(<mixed>)` is valid. If you have a variable whose type you don't know, it's valid to pass

[2020-09-08 19:11] enumag commented on #127
I see your point but my code is very strongly typed so I always know the type I'm passing, it's never mixed. In 90% cases I only need to check equality against one particular value like `new EnumClass(EnumClass::CONSTANT)`. This will most likely be the same for most users of this package. Passing mixed doesn't make sense at all.

What arguably might make some sense is passing a value which can eit

[2020-09-08 19:53] adaamz commented on #115
So, can you close this?

[2020-09-08 19:57] adaamz commented on #92
What about `abstract class IdentifiableEnum implements Identifiable` and then typehint this abstract class?

[2020-09-09 07:54] mnapoli commented on #92
👍  @adaamz, that would work. Closing this issue for now.

[2020-09-09 07:54] #92 closed

[2020-09-09 07:58] mnapoli commented on #127
The method accepts anything on purpose, so I don't see how the phpdoc can contradict that.

[2020-09-09 07:59] #115 closed

[2020-09-09 09:58] enumag commented on #127
Accepting anything is a bad decision here. When I fixed the annotation PHPStan and Psalm immediately found 6 bugs in my code which I would otherwise have very hard time finding. I really need some way to fix this, the current implementation is too dangerous for me to use.

[2020-09-09 12:11] #127 closed

[2020-09-17 14:14] carnage opened #128 "Add isOneOf method"
A suggestion for a new feature as a shortcut for doing if ($object->equals($a) || $object->equals($b) || ...) { }

Proposed method definition could be something like:

[code]

Can raise a PR with tests etc when I've more time if you'd accept this feature.

[2020-09-18 09:19] mnapoli commented on #128
Thank you for the suggestion, it makes sense. But we get suggestions of new helpers every month, and we can't add them all (or rather I want to avoid it). The idea is to keep this package simple, looking like if it was an actual core PHP feature.

Sorry!

[2020-09-18 09:19] #128 closed

[2020-09-22 13:38] willemstuursma commented on #128
I must also say I really liked this suggestion @mnapoli. We now use `in_array($needle, $haystack, false)`. But having this natively makes a lot of sense to me.

[2020-09-24 11:37] enumag commented on #127
For anyone looking for a workaround to solve this nonsense:

[code]

[code]

[2020-11-03 17:24] jarstelfox opened #130 "Build Failing due to psalm update"
The last passing build of master was running [psalm v3.8.5](https://travis-ci.org/github/myclabs/php-enum/jobs/650333835#L293), but after that, builds have been failing [psalm v3.11.5+](https://travis-ci.org/github/myclabs/php-enum/jobs/698596645#L295).

I think the best options are either:

1. Put a composer.lock so you can pick when to update psalm in CI
2. Fix the existing issues as you notice

[2020-11-03 17:35] mnapoli commented on #130
Hi, thank you for raising this!

Putting the composer.lock is indeed not ideal, but I would prefer that here since this is a library that doesn't receive a lot of activity or updates (for good reason, it's pretty stable). So that would be the best to avoid continuous work on this.

If you are able to send a pull request that would be perfect!

[2020-11-13 15:03] gharlan commented on #130
Instead of pushing the composer.lock, you could use an explicit version for vimeo/psalm in composer.json, and update it manually from time to time, or dependabot can create pull requests for increasing the version in composer.json.

[2020-11-14 17:26] mnapoli commented on #130
@gharlan that's a good idea!

[2021-01-02 11:16] barkin94 opened #132 "Can't get an enum value in the associative array."
Let's say I have the following enum:
`
class SomeEnum extends Enum {
	private const KeyA = 1;
}
`

And somewhere else I want to map the value of KeyA to a string like the following, but apparently it's not permitted in PHP.
`const MAP = [ SomeEnum::KeyA() => 'some string';];`

How can I achieve this? Or rather is it possible?

[2021-01-03 16:24] #132 closed

[2021-01-16 22:03] FacePalmDev opened #133 "Outdated dependencies"
I see the following during an install:

[code]

[2021-01-17 11:31] mnapoli commented on #133
Hi, this package has no dependencies: https://github.com/myclabs/php-enum/blob/master/composer.json#L24-L27

You may be getting these messages from another package.

[2021-01-17 11:31] #133 closed

[2021-01-17 12:11] FacePalmDev commented on #133
@mnapoli Ah apologies. I had just picked up a PHP project having never done any PHP before. Thank you :)

[2021-01-21 13:11] Ocramius opened #134 "`__callStatic` should probably be `@psalm-pure`"
https://github.com/myclabs/php-enum/blob/616601d7a872ee08ab8df0518b272071c86846a6/src/Enum.php#L223

[2021-02-11 12:56] lazka opened #137 "TooManyTemplateParams errors with recent psalm"
[code]

This now leads to

[code]

Any ideas on how to work around this?

[2021-02-12 17:16] mnapoli commented on #137
TBH I have no idea what this means! I am not really the person driving the psalm annotations, it's mostly contributed through pull requests 😅

Maybe @drealecs has an idea?

[2021-02-15 16:11] #134 closed

[2021-02-15 16:14] jdreesen commented on #137
Can this be closed now that #138 is merged?

[2021-02-15 16:35] lazka commented on #137
Yes, looks good, thanks!

[2021-02-15 21:43] mnapoli commented on #137
Thanks!

[2021-02-15 21:43] #137 closed

[2021-02-16 07:14] madhurbhaiya opened #140 "Eloquent Model Enum Casting fails after upgrading php-enum library from 1.7.7 to 1.8"
First of all, thanks a lot for this awesome package.

New versions of Laravel Eloquent provides flexibility to add Custom Classes for Casting Attributes. In our MySQL db, for enum fields, we utilise this functionality, by defining a specific attribute to cast to respective Enum class (extended using this package).

However, a recent version upgrade is causing this to fail now. I am adding the stac

[2021-02-16 11:44] #140 closed

[2021-04-01 21:34] danielbeardsley commented on #65
It seems quite odd to me to treat an Enum as a map. Generally, an enum is a human-readable and type-safe wrapper around some set of distinct values.

You situation seems better suited to using a map between two enums:

[code]

[2021-06-25 09:38] MarkBaker opened #144 "Clash with PHP 8.1 JsonSerializable Interface"
Running tests against the latest PHP 8.1 nightly causes fatal errors with a clash between MyClabs Enum and the new return typehints implementation in the interface for `jsonSerializable` in PHP 8.1

[code]
and the stack trace (for reference)
[code]

As PHP 8.1 is now in alpha release stage, I thought I'd better raise an issue to ensure that you are aware of the problem.

This is against version 1.

[2021-06-28 09:40] MarkBaker commented on #144
The issue actually relates to [this issue raised in PHP](https://github.com/php/php-src/pull/7051) by jrfnl with the interface definition for `jsonSerializable` having a `mixed` return type and is highlighted [here](https://3v4l.org/XbJJk/rfc#focus=git.master).

This can easily be resolved by specifying the return type in the implementation. However, the `mixed` pseudo-datatype was only introduced

[2021-06-29 09:20] mnapoli commented on #144
Thank you @MarkBaker, this should be fixed in the latest release.

[2021-06-29 09:20] #144 closed

[2021-07-10 22:42] alexkuc commented on #8
I think it would help to mention in `README.md` that strict comparison won't work as expected (b/c it is _not_ mentioned that php-enum is not singleton) and that there are 2 workarounds:

1. weak comparison i.e. `==`
2. method `->equals()`

[2021-07-12 08:13] mnapoli commented on #8
@alexkuc sure that makes sense, feel free to send a PR.

[2021-07-27 22:55] Ilyes512 opened #149 "Removing unnecessary psalm suppress docblock"
This is more of a FYI...

I am running psalm on my own project with the `--find-unused-psalm-suppress` flag and even though I told psalm to ignore the vendor dir it still showed me this warning:

        /** @psalm-suppress ImplicitToStringCast assertValidValueReturningKey returns always a string but psalm has currently an issue here */

So in other words I think this line can be removed: https://

[2021-07-29 21:57] TonyGravagno opened #150 "Using Enum object as array key?"
Consider:

[code]

Is this a mis-use of this mechanism? Should that be `[State::Activated->value()]` or even `[State::Activated.'']` ? With more housekeeping, the reason for using an Enum is diminished. Rather, I'm thinking that in languages that support enumerations this would present similar problems, so constants are preferred. In this case that means simply removing the `extends Enum` from any

[2021-07-30 02:54] drealecs commented on #150
Hey @TonyGravagno, let me point that native enums will arrive in PHP 8.1, something you might have already knew (https://wiki.php.net/rfc/enumerations).
May I point that the recommended pattern for using this library is with private constants:
[code]
And because of this, the usage will be:
[code]
When moving to native enums it will change to:
[code]
with the usage:
[code]
Also this RFC was discuss

[2021-08-03 08:47] simPod opened #152 "No CI here"
There is travis config in this repo but no CI is enabled on PRs. Is it intentional?

Thanks!

[2021-08-03 08:50] mnapoli commented on #152
Oh… 😞  this is because Travis dropped the open-source world and broke everyone's CI. So it's not intentional, but Travis doesn't work anymore.

Ideally we should migrate to GitHub Actions.

[2021-09-25 23:20] adaamz opened #155 "phpstan warns about undefined template T in user enum"
Hi,
I have simple code like this
[code]
which gives me this phpstan warning
[code]
Is this something you can fix or it should be fixed in my code (I tried something but really don't know if template variables can be assigned in other place than where they are defined...).
Thanks for reply.

[2021-10-20 14:14] enotocode opened #157 "Public const inside Enum class"
Hi,
there is an example in the readme.md of Enum class with private constant. Why it uses private const instead of public const?

Public modifier makes it possible to use class constant in array:

`final class Action extends Enum
{
    public const VIEW = 'view';
    public const EDIT = 'edit';
}'
$array = [Action::VIEW, Action::EDIT];`

[2021-12-07 15:31] drealecs commented on #157
Hey @enotocode,
Using private constants is recommended as it makes it harder to directly use a value of a case in the code and more use the instance of the enum.
The value `$value = $action->getValue()`should only be used when serializing the enum instance for transmission to something else than the PHP runtime: http request, sql value for storing in database, cached value. For restoring the `$act

[2021-12-09 11:22] antichris commented on #155
This is because PHPStan recognizes the `@psalm-template` annotation on `Enum`.

Your class has to be annotated with `@extends` and the type that your enum uses in values (looks like you want `string`):

[code]

@myclabs This issue is resolved.

[2022-02-19 02:26] NicolasCARPi commented on #152
This issue can be closed now ;)

[2022-02-19 12:11] przemyslaw-lapinski opened #159 "cs"

[2022-02-19 12:11] #159 closed

[2022-02-19 19:04] #152 closed